/*
  * 
  * Hero
  *
  */

#hero {
	text-align: center;
	padding: 5em 0;

	@media screen and (min-width: $small-screen) {
		padding: 7em 0;
	}
}

.title {
	font-size: 2.5em;
	margin: .3em 0 .1em;
	color: $header-font-color;
}

.tagline {
	font-size: 1.2em;
	color: $primary-color;
	margin: 0 auto 2em;
	max-width: 25em;
	width: 80%;
}
