/*
  * 
  * Sections
  *
  */

#sign-up {
	background-color: $primary-color;	
}

// Section Container
.feature-section {
	margin: 5em 0;

	@media screen and (min-width: $small-screen) {
		margin: 8em 0;
	}
}

.section-title {
	color: $primary-color;
	text-align: center;
	font-size: 2.4em;
}

.callout {
	font-size: 1.3em;
	color: #464646;
	text-align: center;
	margin: 0 auto 2em;
	max-width: 27em;
}

// Global Section Icon
.section-icon {
	width: 3.5em;
	margin: 0 auto;
	display: block;
}

.check-icon {
	width: 40px;
	display: block;
	position: relative;
	margin-bottom: 2.5em;
	top: -20px;
	left: 50%;
	@include transform(translateX(-50%));
}



// Small group inside Feature Section
.feature-content {
	margin-bottom: 1em;
	text-align: center;

	.feature-icon {
		//max-width: 4em;
		max-height: 3em;
	}
}

.small-title {
	color: $body-font-color;
	font-size: 1.2em;
	font-weight: 900;

	& + p {
		font-size: .9em;
		color: $body-font-color-alt;
		max-width: 20em;
		margin: 0 auto;
	}
}



#sign-up {
	padding: 4em 0;
	text-align: center;
}




.stack-section {

	.stack-feature {

		img {
			//float: left;
		}
	}
}













// Footer
.site-footer {
	background-color: #d8492e;
	overflow: hidden;
	padding-top: 4em;

	.footer-widget  {
		margin-bottom: 2em;
	}

	.wai-logo {
		max-width: 130px;
	}

	p {
		color: $yellow-color;
		font-size: .9em;
	}

	h4 {
		color: $yellow-color;
		font-size: 1em;
		font-weight: 900;
	}

	a {
		color: $yellow-color;
	}

	.copyright {
		text-align: center;
		color: darken(#d8492e, 10%);
		margin: 2em 0;
		font-size: 1.2em;
		font-weight: bolder;
	}
}

.social-icon {
	margin: 0 .3em .5em;
	display: block;
	float: right;

	&:hover {
		opacity: .8;
	}

	img {
		width: 50px;
	}

}

